<ion-view title="阳台(列表)" hide-back-button="true" id="page4" class="balcList">
    <ion-nav-buttons side="left" class="has-header">
        <button class="button button-icon icon ion-android-home" ng-click="goHome();"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-icon icon No Icon" ng-click="goContact();"> 立即预约</button>
    </ion-nav-buttons>
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div>
            <img src="img/bannertz.jpg" style="display: block; width: 100%; height: 147px; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 100%; height: 20px;"></div>
        <ul class="balcUl">
            <li>
                <img src="img/4440ee6cd6b3b49950801858_400x400.jpg">
                <h4>悦享家</h4>
            </li>
            <li>
                <img src="img/f34999d4603b33816a29eb32_400x400.jpg">
                <h4>黑森林</h4>
            </li>
            <li>
                <img src="img/47d00dab62679f28b3499ff3_400x400.jpg">
                <h4>午后红茶</h4>
            </li>
            <li>
                <img src="img/2d0741e34b7d03b9f6758a60_400x400.jpg">
                <h4>追随阳光</h4>
            </li>
            <li>
                <img src="img/bbc6a5ea01ee579a4d1a74b7_400x400.jpg">
                <h4>色彩爱丽丝</h4>
            </li>
            <li>
                <img src="img/0d46758746759844714ce55e_400x400.jpg">
                <h4>Helena 海伦娜</h4>
            </li>
            <li>
                <img src="img/830865e8d89a75af7dd25a2e_400x400.jpg">
                <h4>八月迷情 </h4>
            </li>
            <li>
                <img src="img/1f2d10556bed7d2c10fbed26_400x400.jpg">
                <h4>图根林</h4>
            </li>
        </ul>
    </ion-content>
</ion-view>
