<ion-view title="装修保险" hide-back-button="true" id="page8" class="insurance">
    <ion-nav-buttons side="left" class="has-header">
        <button class="button button-icon icon ion-android-home" ng-click="goHome();"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-icon icon No Icon" ng-click="goContact();"> 立即预约</button>
    </ion-nav-buttons>
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div class="listHeader">
            <h4>太平洋保险公司质量承保</h4>
            <img src="http://www.goujiawang.com/goujiaWap/images/zhuangxiubaoxian.png">
            <h5>装修工程延期津贴：</h5>
            <p>因质量问题延期22天后，享受每天￥100元长达45天延期津贴。</p>
            <h5>装修防水综合保障：</h5>
            <p>太平洋保险公司承保期间发生渗漏水，可赔付
                <br> 厨房卫浴重装￥5,000元
                <br> 他人损失责任￥5,000元
                <br> 室内财产保障￥5,000元
            </p>
            <h5>不可抗力意外赔偿：</h5>
            <p>太平洋保险公司承保期间发生火灾、爆炸导致房屋主体损失可赔付¥200,000元</p>
        </div>
        <div class="spacer" style="height: 20px; width:100%;"></div>
        <div>
        </div>
        <div>
            <div class="listContent clearfix">
                <div class="floatBox">
                    <div class="left">
                        <img src="img/m-insurance-img2.png">
                    </div>
                    <div class="left">
                        <h5>施工遇到渗水</h5>
                        <p>赔付
                            <span>￥5,000 </span>元
                        </p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="listContent clearfix">
                <div class="floatBox">
                    <div class="left">
                        <img src="img/m-insurance-img5.png">
                    </div>
                    <div class="left">
                        <h5>装修超时</h5>
                        <p>赔付
                            <span>￥100元/天</span>
                        </p>
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="listContent clearfix">
                <div class="floatBox">
                    <div class="left">
                        <img src="img/m-insurance-img6.png">
                    </div>
                    <div class="left">
                        <h5>房屋主体火灾爆炸</h5>
                        <p>赔付意外
                            <span>￥200,000</span>元</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="payback">从装修开始至装修结束 ，保障一直在您身边
            <br> 两年内除业主责任外免费维修，构家终身保修
        </p>
        <div class="spacer" style="height: 10px; width:100%;"></div>
        <div class="listContentPay">
            <h4>
        更多详情敬请垂询客服热线：</h4>
            <p class="p1">400-000-0000</p>
        </div>
        <div class="spacer" style="width: 100%; height: 10px;"></div>
    </ion-content>
</ion-view>
