<ion-view title="装修贷款" hide-back-button="true" id="page9" class="loan">
    <ion-nav-buttons side="left" class="has-header">
        <button class="button button-icon icon ion-android-home" ng-click="goHome();"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-icon icon No Icon" ng-click="goContact();"> 立即预约</button>
    </ion-nav-buttons>
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div class="listHeader">
            <h3>装修贷款</h3>
            <p>轻松申请低息贷款</p>
        </div>
        <div class="spacer" style="height: 20px; width:100%;"></div>
        <div>
        </div>
        <div class="listContent">
            <h4>支持工行贷款</h4>
            <img src="img/m-pay-img1.png">
            <h4>购家宝</h4>
            <h5>购家宝是构家网与银行</h5>
            <h5>合作深度开发的融信贷保障平台</h5>
        </div>
        <div class="spacer" style="height: 10px; width:100%;"></div>
        <div class="listContentPay">
            <h4>工商银行服务特点</h4>
            <img src="img/m-loan-gs.png">
            <p class="left">低息申请装修贷款</p>
            <p>手续便捷</p>
            <p class="right">额度最高可达100万</p>
            <img src="img/m-loan-step.jpg">
        </div>
        <div class="spacer" style="width: 100%; height: 10px;"></div>
    </ion-content>
</ion-view>
