<ion-view title="支付保障" hide-back-button="true" id="page6" class="pay">
    <ion-nav-buttons side="left" class="has-header">
        <button class="button button-icon icon ion-android-home" ng-click="goHome();"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-icon icon No Icon" ng-click="goContact();"> 立即预约</button>
    </ion-nav-buttons>
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div class="listHeader">
            <h3>支付保障</h3>
            <p>购家宝</p>
        </div>
        <div class="spacer" style="height: 20px; width:100%;"></div>
        <div>
        </div>
        <div class="listContent">
            <h4>先装修，后付款</h4>
            <h4>装修满意后才付款</h4>
            <img src="img/m-pay-img1.png">
            <h4>购家宝</h4>
            <span>购家宝是构家网与银行合作深度开发的融信贷保障平台</span>
            <p>只需先托管10%的定金，即可开工，满意后，再将90%的余款 托管到“购家宝”。业主在安装、建筑附着、软装陈设、竣工交 付满意后分节点付款。
            </p>
        </div>
        <div class="spacer" style="height: 10px; width:100%;"></div>
        <div class="listContentPay">
            <h4>购家宝支付流程</h4>
            <img src="img/m-pay-img2.jpg">
        </div>
        <div class="spacer" style="width: 100%; height: 10px;"></div>
        <div class="listContentPay">
            <h4>为什么是购家宝</h4>
            <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" style="width:100%;height:459px;">
                <ion-slide-page style="background:url(img/m-pay-swiper1.jpg) no-repeat center;background-size:cover; "></ion-slide-page>
                <ion-slide-page style="background:url(img/m-pay-swiper2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
                <ion-slide-page style="background:url(img/m-pay-swiper3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
                <ion-slide-page style="background:url(img/m-pay-swiper4.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
            </ion-slides>
        </div>
        <div class="payBooter">
            <h3>购家宝，家装界的支付宝</h3>
        </div>
    </ion-content>
</ion-view>
