<ion-view title="施工保障" hide-back-button="true" id="page7" class="security">
    <ion-nav-buttons side="left" class="has-header">
        <button class="button button-icon icon ion-android-home" ng-click="goHome();"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-icon icon No Icon" ng-click="goContact();"> 立即预约</button>
    </ion-nav-buttons>
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div class="listHeader">
            <h3>施工保障</h3>
            <p>全程实时监控，标准化施工</p>
        </div>
        <div class="spacer" style="height: 20px; width:100%;"></div>
        <div>
        </div>
        <div class="listContent">
            <h4>施工过程全监控</h4>
            <h5>全程影像记录施工过程，客户一目了然</h5>
            <img src="img/m-construction-pageone1.jpg">
            <h5>上网就能看到装修中的家</h5>
            <img class="img2" src="img/m-construction-pageone2.jpg">
            <p>专业督导团队，第三方性质的工程督导团队全程督导，全程把 控工程质量，让业主省心放心！
            </p>
        </div>
        <div class="spacer" style="height: 10px; width:100%;"></div>
        <div class="listContentPay">
            <h4>节点施工标准化</h4>
            <img src="img/m-construction-pagetwo.jpg">
            <p class="p1">您可以时刻了解进度</p>
        </div>
        <div class="spacer" style="width: 100%; height: 10px;"></div>
        <div class="listContentPay">
            <h4>构家工艺</h4>
            <img src="img/c1.jpg">
            <p>业主确认方案，物料清单效果图后签订合同，根据合同支付10%款项</p>
            <img src="img/c2.jpg">
            <p>量房全面工作开始前的重要环节，通过现场精准量房，使施工图纸 与现场情况基本吻合，通过各种专业工具和方法，检查待装修的产 品房屋是否构造尺寸缺陷。
            </p>
            <img src="img/c3.jpg">
            <p>提前预判现场工艺、收口等问题，提前解决问题，减少材料浪费、返 工窝工现象；用工业产业化的方式做家居装饰装修，合理加快施工进 度。
            </p>
            <img src="img/c4.jpg">
            <p>技术交底环节，构家网的业务执行团队将会依据现场投 影放样的操作 结果，结合设计方案和效果，为您详细讲 解设计意图和施工计划，让 您能够对整个装修过程了然于心
            </p>
            <img src="img/c5.jpg">
            <p>在这个环节，我们会对您家中已有一些成品进行保护（如防盗门、玻 璃窗等），同时我们会根据施工需要设置一些临时性的标牌或设施（如 施工公示牌、工程计时牌等）
            </p>
            <img src="img/c6.jpg">
            <p>通过各种专业工具和方法，帮助检查待装修的产品房屋是否存在渗漏 空鼓等质量缺陷
            </p>
            <img src="img/c7.jpg">
            <p>指定时间，构家网根据地方的风俗为业主举行动工礼仪</p>
            <img src="img/c8.jpg">
            <p>主要定义室内功能空间，标注拆、改、建的墙体，定位装饰装修水平 标高。
            </p>
            <img src="img/c9.jpg">
            <p>在这个环节，我们将对房屋进行改造，根据设计和施工图纸，修补或 拆除不需要的墙体，并且新建需要的隔断或墙体。
            </p>
            <img src="img/c10.jpg">
            <p>全投影放样是明确各功能空间顶地墙所有物料的现场布置，检验各功 能空间物料之间的工艺及尺寸关系，解决整家物料精确下单。
            </p>
            <img src="img/c11.jpg">
            <p>家庭装修的隐蔽基层工程主要包括几个方面：给排水工程、电气管线 工程、护墙板基层、门窗套板基层、吊顶基层。
            </p>
            <img src="img/c12.jpg">
            <p>又名三次细放，根据现场尺寸进行排版，明确面层与基层关系，精准 定位预埋位置，确定面层材料二次加清单。
            </p>
            <img src="img/c13.jpg">
            <p>管槽洞口修补、防水施工是水电改造后的重要环节，试水试压，蓄水 试验是确保施工质量的工作首选。
            </p>
            <img src="img/c14.jpg">
            <p>这个环节，一定是您比较关心的环节，我们将在这个环节为您的新家 铺设地砖/地板，并且为吊顶、护墙、壁柜、橱柜等安装进行必须的 处理（如安装龙骨、找平抹平、沉坑回填等）
            </p>
            <img src="img/c15.jpg">
            <p>二次定位是确保外场加工物料开孔，进场安装前的技术复核工作。</p>
            <img src="img/c16.jpg">
            <p>将根据标化尺寸及样式生产加工完成后，在施工现场进行组装或拼装 的过程。
            </p>
            <img src="img/c17.jpg">
            <p>精放明确软装陈设物料准确安装、摆场到位，确保整体效果。</p>
            <img src="img/c18.jpg">
            <p>作为构家网的业主，您不必在劳神费力地自己肩挑手提大大小小的家 具、家电啦，我们会按照您购买的整装方案，将所有家具/家电都运 送上门，摆放到位
            </p>
            <img src="img/c19.jpg">
            <p>对已安装完成的设备进行调试，主要对各个节点功能的动作是否运作 正常作调整，确保业主入住后能正常使用，没有后顾之忧。
            </p>
            <img src="img/c20.jpg">
            <p>恭喜您，终于到了竣工验收，此时此刻您一定和我们一样激动，请对 照您购买的整装方案的设计规划进行验收吧，然后大笔一挥，签收您 的新家吧~~
            </p>
        </div>
    </ion-content>
</ion-view>
